html, body {
  position: relative;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
}

main {
  margin: 2%;
}

/* Header */
header {
  width: 100%;
  height: 20em;
  background-image: url(../images/Banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  padding-left: 5%;
  padding-top: 5%;
}

.banner {
  margin: 0;
  color: white;
  text-align: center;
  padding: .5em;
  border-top: 15px solid black;
  background-color: rgb(0, 88, 162);
  font-family: Arial, Helvetica, sans-serif;
}

.collections {
  justify-content: space-between;
  display: flex;
}

/* Card Information */
.discount {
  padding: 2%;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgb(255, 73, 26);
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
}

.product {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 12px;
  color: gray;
}
.pricing {
  justify-content: center;
  display: flex;
}

.fullPrice {
  color: rgb(187, 0, 0);
  text-decoration-line: line-through;
  padding-right: 5px;
}

.salePrice {
  font-weight: bold;
  padding-left: 5px;
}

/* Contact */
footer{
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 2em
}

.contact-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: gray;
}

footer p {
  margin: 5px;
  font-size: 12px
}

/* Form */
.form-container {
  background-color: rgb(78, 142, 252);
  display: flex;
  flex-direction: column;
  width: 50%;
  transform: skew(-6deg);
}

label {
  display: block;
}

form {
  transform: skew(6deg);
  text-align: left;
  height: 100%;
  margin: 5%;
  padding: .5em;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: .5em
}

.button {
  background-color: rgb(78, 142, 252); /* Green */
  border: 3px solid white;
  color: white;
  padding: .5em;
  text-align: center;
  font-weight: bold;
}
